<h1>Movie#index</h1>
<p>Find me in app/views/movie/index.html.erb</p>


<%= form_tag home_index_path do  %>


      <%= label_tag :movie %>
      <%= text_field_tag :movie %>

      <%= submit_tag "Submit tweet", class: "btn btn-large btn-primary" %>
 <% end %>